In [4]:
pip install fastparquet

Collecting fastparquet
  Obtaining dependency information for fastparquet from https://files.pythonhosted.org/packages/fe/03/e9286e58035830f2a866841b9bd197595023ce6ddd8b3cdb5951a5e54a5c/fastparquet-2024.2.0-cp38-cp38-win_amd64.whl.metadata
  Downloading fastparquet-2024.2.0-cp38-cp38-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: pandas>=1.5.0 in c:\users\dulshan\pycharmprojects\jupyter\.venv\lib\site-packages (from fastparquet) (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\dulshan\pycharmprojects\jupyter\.venv\lib\site-packages (from fastparquet) (1.24.4)
Collecting cramjam>=2.3 (from fastparquet)
  Obtaining dependency information for cramjam>=2.3 from https://files.pythonhosted.org/packages/95/d7/11fefe616651e3a90b1a842c143375b7cbff6dcbccbc7a81657e6a56a22c/cramjam-2.8.1-cp38-none-win_amd64.whl.metadata
  Downloading cramjam-2.8.1-cp38-none-win_amd64.whl.metadata (4.2 kB)
Collecting fsspec (from fastparquet)
  Obtaining dependency information for fsspec from https://files.pythonhosted.org/packages/ad/30/2281c062222dc39328843bd1ddd30ff3005ef8e30b2fd09c4d2792766061/fsspec-2024.2.0-py3-none-any.whl.metadata
  Downloading fsspec-2024.2.0-py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: packaging in c:\users\dulshan\pycharmprojects\jupyter\.venv\lib\site-packages (from fastparquet) (23.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dulshan\pycharmprojects\jupyter\.venv\lib\site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dulshan\pycharmprojects\jupyter\.venv\lib\site-packages (from pandas>=1.5.0->fastparquet) (2023.3.post1)
Requirement already satisfied: six>=1.5 in c:\users\dulshan\pycharmprojects\jupyter\.venv\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.5.0->fastparquet) (1.16.0)
Downloading fastparquet-2024.2.0-cp38-cp38-win_amd64.whl (671 kB)
   ---------------------------------------- 0.0/671.0 kB ? eta -:--:--
   --- ------------------------------------ 61.4/671.0 kB 1.6 MB/s eta 0:00:01
   --------------- ------------------------ 256.0/671.0 kB 3.2 MB/s eta 0:00:01
   ------------------------------- -------- 532.5/671.0 kB 4.2 MB/s eta 0:00:01
   ---------------------------------------- 671.0/671.0 kB 4.2 MB/s eta 0:00:00
Downloading cramjam-2.8.1-cp38-none-win_amd64.whl (1.6 MB)
   ---------------------------------------- 0.0/1.6 MB ? eta -:--:--
   ------------ --------------------------- 0.5/1.6 MB 15.2 MB/s eta 0:00:01
   ------------------------- -------------- 1.0/1.6 MB 13.0 MB/s eta 0:00:01
   ---------------------------------------  1.6/1.6 MB 12.5 MB/s eta 0:00:01
   ---------------------------------------- 1.6/1.6 MB 11.3 MB/s eta 0:00:00
Downloading fsspec-2024.2.0-py3-none-any.whl (170 kB)
   ---------------------------------------- 0.0/170.9 kB ? eta -:--:--
   ---------------------------------------- 170.9/170.9 kB ? eta 0:00:00
Installing collected packages: fsspec, cramjam, fastparquet
Successfully installed cramjam-2.8.1 fastparquet-2024.2.0 fsspec-2024.2.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.cluster import AgglomerativeClustering
from sklearn.preprocessing import StandardScaler, normalize
from sklearn.metrics import silhouette_score
import scipy.cluster.hierarchy as shc

In [3]:
df = pd.read_parquet('./in/train_base.parquet')

In [4]:
pd_sample = df.sample(frac=0.01, random_state=56)

In [7]:
pd_sample

        date_decision   MONTH  WEEK_NUM  target
case_id
245325     2020-08-17  202008        84       0
1601333    2019-10-28  201910        42       0
859127     2019-11-12  201911        45       0
861784     2019-11-15  201911        45       0
1684248    2019-12-14  201912        49       0
...               ...     ...       ...     ...
1776146    2020-02-07  202002        57       0
1411738    2019-06-18  201906        24       0
1256927    2019-01-18  201901         2       0
1873416    2020-07-01  202007        78       0
1403239    2019-06-14  201906        23       0

[15267 rows x 4 columns]

In [6]:
pd_sample=pd_sample.set_index('case_id')

In [23]:
df_1 = pd.read_parquet('./in/train_credit_bureau_a_1_0.parquet').set_index('case_id')

In [24]:
df_2 = pd.read_parquet('./in/train_credit_bureau_a_2_0.parquet').set_index('case_id')

In [26]:
df_k = pd.merge(pd_sample, df_1, on='case_id', how='inner')

In [27]:
df_k

,date_decision,MONTH,WEEK_NUM,target,annualeffectiverate_199L,annualeffectiverate_63L,classificationofcontr_13M,classificationofcontr_400M,contractst_545M,contractst_964M,...,residualamount_488A,residualamount_856A,subjectrole_182M,subjectrole_93M,totalamount_6A,totalamount_996A,totaldebtoverduevalue_178A,totaldebtoverduevalue_718A,totaloutstanddebtvalue_39A,totaloutstanddebtvalue_668A
case_id,,,,,,,,,,,,,,,,,,,,,
1418107,2019-06-24,201906,24,0,NaN,NaN,a55475b1,ea6782cc,a55475b1,7241344e,...,NaN,NaN,a55475b1,ab3c25cf,4602.8003,NaN,NaN,0.0,NaN,0.0
1418107,2019-06-24,201906,24,0,NaN,NaN,a55475b1,ea6782cc,a55475b1,7241344e,...,0.0,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
1418107,2019-06-24,201906,24,0,NaN,NaN,a55475b1,ea6782cc,a55475b1,7241344e,...,NaN,NaN,a55475b1,a55475b1,18881.4000,NaN,NaN,NaN,NaN,NaN
1418107,2019-06-24,201906,24,0,NaN,NaN,a55475b1,ea6782cc,a55475b1,7241344e,...,NaN,NaN,a55475b1,a55475b1,50061.2000,NaN,NaN,NaN,NaN,NaN
1418107,2019-06-24,201906,24,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1403239,2019-06-14,201906,23,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
1403239,2019-06-14,201906,23,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
1403239,2019-06-14,201906,23,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
1403239,2019-06-14,201906,23,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
1403239,2019-06-14,201906,23,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
pd_sample

        date_decision   MONTH  WEEK_NUM  target
case_id
245325     2020-08-17  202008        84       0
1601333    2019-10-28  201910        42       0
859127     2019-11-12  201911        45       0
861784     2019-11-15  201911        45       0
1684248    2019-12-14  201912        49       0
...               ...     ...       ...     ...
1776146    2020-02-07  202002        57       0
1411738    2019-06-18  201906        24       0
1256927    2019-01-18  201901         2       0
1873416    2020-07-01  202007        78       0
1403239    2019-06-14  201906        23       0

[15267 rows x 4 columns]

In [29]:
df_k.groupby(['case_id']).size()

case_id
488        11
540        23
634        13
940        11
1071       11
           ..
2588161    11
2588179    11
2588181    15
2588359    11
2588377    20
Length: 3331, dtype: int64

In [30]:
df_k[df_k['case_id'] == '1071']

KeyError: 'case_id'

In [32]:
df_k.loc[540]

,date_decision,MONTH,WEEK_NUM,target,annualeffectiverate_199L,annualeffectiverate_63L,classificationofcontr_13M,classificationofcontr_400M,contractst_545M,contractst_964M,...,residualamount_488A,residualamount_856A,subjectrole_182M,subjectrole_93M,totalamount_6A,totalamount_996A,totaldebtoverduevalue_178A,totaldebtoverduevalue_718A,totaloutstanddebtvalue_39A,totaloutstanddebtvalue_668A
case_id,,,,,,,,,,,,,,,,,,,,,
540,2019-01-08,201901,1,0,NaN,NaN,ea6782cc,a55475b1,7241344e,a55475b1,...,NaN,NaN,ab3c25cf,ab3c25cf,NaN,310000.0,0.0,0.0,386685.44,0.0
540,2019-01-08,201901,1,0,NaN,NaN,ea6782cc,a55475b1,7241344e,a55475b1,...,NaN,101722.46,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,48.24,ea6782cc,a55475b1,7241344e,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,9360.0,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
540,2019-01-08,201901,1,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,...,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
pd_sample.loc[540]

date_decision    2019-01-08
MONTH                201901
WEEK_NUM                  1
target                    0
Name: 540, dtype: object